<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233251909384-h4lcvom42lr6is1hdmcfd41lbb6upegt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233251909384-h4lcvom42lr6is1hdmcfd41lbb6upegt</string>
	<key>API_KEY</key>
	<string>AIzaSyBi-ZMsV-tWkIFNsJ_-TEzaCWCZ-nKYUFE</string>
	<key>GCM_SENDER_ID</key>
	<string>233251909384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parthagrawal.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-9aa02</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-9aa02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233251909384:ios:5fb9c9fcdef589546b06bd</string>
</dict>
</plist>